<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sketch</title>

  <link rel="stylesheet" type="text/css" href="{% static 'game_breath/style.css' %}">

  <script src="{% static 'game_breath/libraries/p5.min.js' %}"></script>
  <script src="{% static 'game_breath/libraries/p5.sound.min.js' %}"></script>
</head>


<body>
  <header>
    <nav class="menu">
      <ul class="navbar">
        <li><a class="logo" href="{% url 'index'%}">DeStresser</a></li>
        <div class="right-nav">
          <li class="item"><a href="{% url 'index'%}">Home</a></li>
          <li class="item"><a href="{% url 'physical_health'%}">Physical Activities</a></li>
          <li class="item"><a href="{% url 'questionnaire'%}">Q&A</a></li>
          <li class="item"><a href="{% url 'game_breath'%}">Game</a></li>
          <li class="item"><a href="{% url 'sources'%}">Resources</a></li>
          <!-- <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label> -->
        </div>
      </ul>
    </nav>
  </header>
  <div class="instructions">
    <h3>Here, you can regulate your breath by looking at this visual reference.</h3>
    <h3>You can modify it to perfectly fit the pace of your breath, to fight stress by controlling your breath.</h3>
    <br>
    <h4>Instructions:</h4>
    <h4>Up/Down arrow for increasing/decreasing circle siz.e</h4>
    <h4>Left/ right arrow for decrease/increase the speed of circle chrinking and expanding.</h4>
    <h4>Press spacebar if you need to pause the activity.</h4>
    <h4>Press r to restart the activity.</h4>
  </div>
  <script src="{% static 'game_breath/sketch.js' %}"></script>
</body>

</html>