<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'web_main/css/main.css' %}">
  <title>DeStresser</title>
  <script src="https://unpkg.com/darken"></script>
  <script>const darkmode = new darken();</script>
</head>

<body>
  <!-- "{% static 'game_breath/style.css' %}" -->
  <!-- <audio id="lofi" src="audio/1 A.M Study Session- [lofi hip hopchill beats].mp3" loop="loop"></audio> -->
  <audio id="lofi" src="{% static 'web_main/audio/1 A.M Study Session- [lofi hip hopchill beats].mp3' %}"
    loop="loop"></audio>
  <!-- navbar -->

  <header>
    <nav class="menu">
      <ul class="navbar">
        <li><a class="logo" href="#About">DeStresser</a></li>
        <div class="right-nav">
          <li class="item"><a href="{% url 'physical_health'%}">Home</a></li>
          <li class="item"><a href="#Store">Resources</a></li>
          <li class="item"><a href="#Images">Activities</a></li>
          <button onclick="myFunction()">Toggle dark mode</button>
          <!-- <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label> -->
        </div>
      </ul>
    </nav>
  </header>
  <section class="hero">
    <div class="hero-body">
      <h1 id="Welcome">Welcome to DeStresser</h1>
    </div>
  </section>
</body>

<!-- index.html -->

<script>
  window.onload = function () {
    document.getElementById("lofi").play();
  }
</script>

<script>
  function myFunction() {
    var div = document.body;
    div.classList.toggle("dark-mode");
  }
</script>

</html>