<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'web_a/css/main.css' %}">
    <title>DeStresser</title>
    <script src="https://unpkg.com/darken"></script>
    <script>const darkmode = new darken();</script>
</head>

<body>
    <!-- navbar -->

    <header>
        <nav class="menu">
            <ul class="navbar">
                <li><a class="logo" href="{% url 'index'%}">DeStresser</a></li>
                <div class="right-nav">
                    <li class="item"><a href="{% url 'index'%}">Home</a></li>
                    <li class="item"><a href="{% url 'physical_health'%}">Physical Activities</a></li>
                    <li class="item"><a href="{% url 'questionnaire'%}">Q&A</a></li>
                    <li class="item"><a href="{% url 'game_breath'%}">Game</a></li>
                    <li class="item"><a href="{% url 'sources'%}">Resources</a></li>
                    <!-- <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label> -->
                </div>
            </ul>
        </nav>
    </header>

    <section class="sources">
        <h2>Resources for handling stress:</h2>
        <br>
        <ul class="stress-help">
            <li><a
                    href="https://www.canada.ca/en/health-canada/services/healthy-living/your-health/lifestyles/your-health-mental-health-coping-stress-health-canada-2008.html">Government:
                    Mental Health - coping with stress</a></li>
            Government of Canada official website provide clear information about the background of stress, health
            effects of stress and strategies to confront stress.
            <br><br>
            <li><a href="https://cmha.ca/brochure/stress/">CMHA National- Stress</a></li>
            This brochure from the Canadian Mental Health Association(CMHA) provide detailed steps to overcome stress,
            as well as ways to prevent stress.
            <br><br>
            <li><a href="https://www.cma.ca/physician-wellness-hub/topics/stress">Canadian Medical Association-
                    Stress</a></li>
            Canadian Medical Association (CMA) provide list of stress causes and identified 4 levels of stress we might
            experience during COVID-19.
            <br><br>
            <li><a href="https://www.anxietycanada.com">Anxiety Canada</a></li>
            Anxiety Canada provides self-help information, community programs and workshops for those who feel they need
            it.
            <br><br>
            <li><a href="https://www.stressstrategies.ca/resources">Stress Strategies- Resources</a></li>
            Stress Strategies provide a comprehensive list of resources for outcomes of stress, such as substance abuse
            and mental health.
            <br><br><br>
            Finally, turn to the ones who unconditionally love, care about you, discuss with them about your situation.
            we are certain they will be able to provide robust support to help you manage stress
        </ul>

    </section>
</body>

</html>